h1{
    color:rgb(0,0,255);
}
body{
    background-color:rgb(0,0,0);
}
p{
    color:rgb(0,255,0);

}
button{
color:rgb(255,255,0);
    background-color:rgb(255,0,0);
}
.Kohli{
    font-size:20px;
    font-weight:bold;
}